body {
    background-color: black;
    color: white;
    text-align: center;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
}

h1 {
    font-weight: bold;
    transition: filter 0.3s ease, color 0.3s ease; /* Smooth transition */
}

.llc {
    position: absolute;
    bottom: 10px;
    width: 100%;
}

.llc p {
    font-size: 12px; /* Adjust the font size as needed */
}

.inverted {
    background-color: white;
    color: black;
}
